<div class="container">
    <div class="ui-s960">
        <h1>SMN CLI</h1><br>
        <h3>{{{projectname-dash}}}</h3>
        <p>
            Seu projeto "{{{projectname-dash}}}" foi gerado com sucesso.
        </p>
        <p>
            Para criar novas views, utilize o comando "<span
            class="focus">smn-cli generate view {{'{'}}nome{{'}'}}</span>".
        </p>
        <p>
            Altere as cores do tema no arquivo "<span class="focus">styles.scss</span>".
        </p>
    </div>
</div>
