/* You can add global styles to this file, and also import other style files */
@import "~ng-smn-ui/core/core";
@import "~ng-smn-ui/core/theme";

$primary: (color: 'blue', hue: '500');
$accent: (color: 'pink', hue: '500');

$theme: ui-theme($primary, $accent);
$theme-dark: ui-theme($primary, $accent, true);

@include ui-core();

@include ui-build-theme($theme);
